
<div class="navbar">
  <a >Seat Reservation System</a>
 
  <div class="login-container">
      <form  class="forme"  (submit)="onSubmit()">
        <div>
          <input type="text" id="name" name="name" placeholder="Your name.." style = "Width: 200px;height: 40px;margin: 10px" [(ngModel)]="seats.name">
        </div>
      
        <div class="count">
          <label for="seats" style = "Width: 160px;margin-top: 10px;" >No. of Seats:</label>
          <input type="number" min="1" max="7" id="seats " class="nuseat" name="seats" style = "Width: 70px;margin: 10px;" [(ngModel)]="seats.seats">
        </div>
      
        <div>
          <button type="submit" value="Submit" class="btn btn-primary button">Submit</button>
        </div>
      </form>
    </div>
  </div>



  <div class="grid-container">
    <div class="grid-item">
      <div class="container">
        <h1 class="sixth">Booking Status</h1>
      </div>
      <div class="row">
        <table class="cards">
          <tbody>
            <tr>
              <td>Total Number of Seats:</td>  
              <td>80</td>
            </tr>
            <tr>
              <td>No of Seats Avaiable</td>  
              <td>{{totalavilableseats}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="grid-item">
       
    <div class="div">
      <table >
      <tr *ngFor="let row of seatnumbers">
        <div class="row">
          <div class="seat" *ngFor="let i of row">
            <span *ngIf="availableseats[i-1];else elseBlock" class="notbook">{{ i }}   </span>
            <ng-template #elseBlock>
            <span class="book">{{i}}</span>
            </ng-template>
          </div>
        </div>
      </tr>
    </table>
  </div>
  </div>
</div>
  
  
 
